@model Category

<div class="user-profile-page">
    <div class="card radius-15">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-7 border-right">
                    <div class="d-md-flex align-items-center">
                        <div class="mb-md-0 mb-3">
                            <img src="@Model.ImageURL" class="img-thumbnail shadow" width="200" alt="">
                        </div>
                        <div class="ms-md-4 flex-grow-1">
                            <div class="d-flex align-items-center mb-1">
                                <h4 class="mb-0">@Model.Name</h4>
                                <p class="mb-0 ms-auto">SON GÜNCELLEME TARİHİ <br /> @Model.CreatedDate</p>
                            </div>
                            <a href="/Management/Category/Edit/@Model.Id" type="button" class="btn btn-primary">Düzenle</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <table class="table table-sm table-borderless mt-md-0 mt-3">
                        <tbody>
                            <tr>
                                <th>Açıklama:</th>
                                <td>@Html.Raw(Model.Description)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
</div>
<h6 class="mb-0 text-uppercase">Kategoriye Ait Kitaplar</h6>
<hr />
<div class="row">
    @{
        int rowNumber = 1;
    }
    @foreach (var item in Model.Books)
    {
        if (rowNumber == 1)
        {
            <div class="col-12 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="@item.ImageUrl" height="320" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@Html.Raw(@item.Brief)</p>
                                <p class="card-text">
                                    <a class="text-muted" href="/Management/Author/Details/@item.Author.Id">Yazar: @item.Author.FullName</a>
                                    <br />
                                    <small class="text-muted">Eklenme Tarihi <br />@item.CreatedDate</small>
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <a href="/Management/Book/Edit/@item.Id" type="button" class="btn btn-warning">Düzenle</a>
                                        <a href="/Management/Book/Details/@item.Id" type="button" class="btn btn-success">Detay</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            rowNumber = 0;
        }
        else
        {
            <div class="col-12 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@Html.Raw(@item.Brief)</p>
                                <p class="card-text">
                                    <a class="text-muted" href="/Management/Author/Details/@item.Author.Id">Yazar: @item.Author.FullName</a>
                                    <br />
                                    <small class="text-muted">Eklenme Tarihi <br />@item.CreatedDate</small>
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <a href="/Management/Book/Edit/@item.Id" type="button" class="btn btn-warning">Düzenle</a>
                                        <a href="/Management/Book/Details/@item.Id" type="button" class="btn btn-success">Detay</a>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="@item.ImageUrl" height="320" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            rowNumber = 1;
        }
    }
</div>