@model IEnumerable<Book>

<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Kitap Listesi</h4>
		</div>
		<hr>
		<div class="table-responsive">
			<table class="table mb-0">
				<thead>
					<tr>
						<th scope="col">Sıra No</th>
						<th scope="col">Görseli</th>
						<th scope="col">Kitap Adı</th>
						<th scope="col">Yazarı</th>
						<th scope="col">Türü</th>
						<th scope="col">Güncelleme Tarihi</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@{
						int rowNumber = 1;
					}
					@foreach (var item in Model)
					{
						<tr>
							<td>@rowNumber</td>
							<td><img src="@item.ImageUrl" width="75px" /></td>
							<td>@item.Name</td>
							<td>@item.Author?.FullName</td>
							<td>@item.Category?.Name</td>
							<td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
							<td>
								<a class="btn btn-success"
								   href="/Management/Book/Details/@item.Id">Detay</a>

								<a class="btn btn-warning"
								   href="/Management/Book/Edit/@item.Id">Düzenle</a>

								<button class="btn btn-danger" onclick="deleteBook(@item.Id);">Sil</button>
							</td>
						</tr>
						rowNumber++;
					}
				</tbody>
			</table>
			<a href="/Management/Book/Create" class="btn btn-primary">Yeni Kitap Ekle</a>
		</div>
	</div>
</div>
@section ScriptSection {
	<script>
		function deleteBook(id) {
			$.ajax({
				type: "POST",
				url: "/Management/Book/DeleteByJs",
				data: { id: id },
				success: function (data) {
					alert(data);
				},
				error: function (data) {
					alert("Hata: " + data);
				}
			});
		}
	</script>
}